<div class="container">
  <div class="spacer">
    <div class="background-style">
      <div class="padding">
        <br>
          <h3><%= @recipe.title %></h3>
            Submitted by <%= @recipe.user.name %>
            <br>
            <% if current_user %>

                <%= link_to "Edit Recipe", edit_recipe_path %> |
                <%= link_to "Delete Recipe", recipe_path, method: :delete %> |
                [<%= pluralize(@recipe.likes.count, "like") %>]

              <% if !@valid %>

                  <%= button_to "Like", like_recipe_path, method: :post, class: 'btn btn-danger btn-xs' %>

              <% else %>

                  <%= button_to "Unlike", unlike_recipe_path, method: :delete, class: 'btn btn-danger btn-xs' %>

              <% end %>

            <% end %>
            <br>
            <br>
              <div style="white-space: pre-wrap;"><%= @recipe.body %></div>
            <br>
              <%= link_to "Back to Restaurant", restaurant_path(@recipe.restaurant_id) %> |
              <%= link_to "Recipes List", recipes_path %>
              <br>
              <% if current_user %>
              <br>
              <%= form_for @comment do |f| %>
                <div>
                <%= f.label :comment, class: 'control-label' %>
                <center><%= f.text_area :comment, class: 'form-control', id: 'comment-form' %></center>
                </div>
                <%= f.hidden_field :recipe_id, :value => @recipe.id %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <br>
                <%= f.submit "Submit", class: 'btn btn-danger' %>
                <% end %>

              <% end %>
            <br>
            <br>
            <br>
      </div>
    </div>
      <br>
      <span class="white-text"><%= pluralize(@recipe.comments.length, "Comment") %>:</span>
      <br>
      <br>
      <%= render :partial => 'comment', :collection => @recipe.comments %>
  </div>
</div>
