<div id="new-user">
  EDIT USER INFO:

  <%= form_for @user do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :profile_pic_url, "Profile Pic URL" %>
    <%= f.text_field :profile_pic_url %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
    <%= f.submit %>

  <% end %>
</div>
