<p>RESTAURANTS</p>
<p>RESTAURANTS</p>
<p>RESTAURANTS</p>
<p>RESTAURANTS</p>
<p>RESTAURANTS</p>
<p>RESTAURANTS</p>

  ADD A NEW RESTAURANT:

  <%= form_for @restaurant do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :location, "City, State" %>
    <%= f.text_field :location %>
  </div>

    <%= f.submit %>

  <% end %>

<%= link_to "Back to Restaurant List", restaurants_path %>
