<div class="container">
  <div class="spacer">
    <div class="background-style">
      <div class="padding">
        <br>
          <h3><%= @restaurant.name %></h3>
          <h4>[<%= pluralize(@restaurant.recipes.length, "Recipe") %>]</h5>

          <% @recipes.each do |recipe| %>
          <div><%= link_to recipe.title, recipe_path(recipe) %>, Submitted by <%= recipe.user.name %> </div>
          <% end %>

        <br>
        <br>

        <div>
          <%= link_to "Back to Restaurant List", restaurants_path %> |
          <%= link_to "Recipes List", recipes_path %>
        <br>
        <br>
        </div>
      </div>
    </div>
  </div>
</div>
